<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'meta' %}
    <title>Blog</title>
</head>
<body>

    <div class="container fade-in">
    {% include 'main-content' %}

    <ul class="my-5 nav saira-condensed-light justify-content-center anchor-custom fs-3">
        <li class="nav-item mx-2">
            <a href="{% url 'home' %}" class="text-light-custom text-active-hover nav-link" aria-current="page">Home</a>
        </li>
        <li class="nav-item mx-2">
            <a href="{% url 'about' %}" class="text-light-custom text-active-hover nav-link ">About Me</a>
        </li>
        <!-- <li class="nav-item mx-2">
            <a href="{% url 'blog' %}" class="text-active-color text-active-hover active nav-link ">Blog</a>
        </li> -->
        <li class="nav-item mx-2">
            <a href="{% url 'project' %}" class="text-light-custom text-active-hover nav-link ">Project</a>
        </li>
        <li class="nav-item mx-2">
            <a href="{% url 'contact' %}" class="text-light-custom text-active-hover nav-link ">Contact</a>
        </li>
    </ul>

    <div class="container">

        <p class="jersey-15-regular fs-1 text-center text-light-custom">Blog</p>


    </div>

    {% include 'footer' %}
</div>
</body>
</html>